

<form action="" method="post">
    <h6>username</h6>
    <input type="text" id="username" required>
    <h6>password</h6>
    <input type="password" id="password" required>
    <button type="submit">login</button>
</form>