<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/nav.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
  </head>
  <body>
    <nav>
      <div class="nav-bar">
        <a class="active" href="#">home</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">about</a>
        <a href="#">contact</a>
      </div>
    </nav>
  </body>
</html>
