<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/nav.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-bar">
          <a href="/biography">Βιογραφία</a>
          <a href="#">Φωτογραφίες</a>
          <a href="#">Έργα</a>
          <a href="#">Σύνδεσμοι</a>
          <a href="#">Διαχείριση</a>
        </div>
        <div class="user">
          <a href="#">Login</a>
          <a href="#">Register</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="main"><%- body %></div>
    </main>

    <aside>
      <div class="side-bar">
        <ul>
          <%- menu %>
        </ul>
      </div>
    </aside>

    <footer>
      <div class="copy">
        <h4>
          Copyright &#169;
          <script>
            document.write(new Date().getFullYear());
          </script>
        </h4>
      </div>
    </footer>
  </body>
</html>
