<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/nav.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-bar">
          <a href="/biography">Βιογραφία</a>
          <a href="/images">Φωτογραφίες</a>
          <a href="/work">Έργα</a>
          <a href="/links">Σύνδεσμοι</a>
          <a href="/admin">Διαχείριση</a>
        </div>
        
      </nav>
    </header>
    <main>
      <div class="main"><%- body %></div>
    </main>

    

    <aside>
      <div class="side-bar">
        <ul>
          <% menu.forEach(function(mascot) { %>
            <li>
              <a href="/<%= mascot.title %>"><%= mascot.title %></a> 
            </li>
          <% }); %>
        </ul>
      </div>
    </aside>

    <footer>
      <div class="copy">
        <h4>
          Copyright &#169;
          <script>
            document.write(new Date().getFullYear());
          </script>
        </h4>
      </div>
    </footer>
  </body>
</html>
