<div class="work">
    <ul>
        <li>THE SUBTLE ART OF NOT GIVING A F*CK</li>
        <li>EVERYTHING IS F*CKED: A BOOK ABOUT HOPE</li>
        <li>WILL</li>
        <li>LOVE IS NOT ENOUGH – AUDIOBOOK</li>
        <li>MODELS: ATTRACT WOMEN THROUGH HONESTY</li>
    </ul>
</div>