.nav-bar a {
  float: left;
  text-align: center;
  color: black;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.user a {
  float: left;
  text-align: center;
  color: black;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background-color: rgb(83, 81, 233);
}

.user {
  float: right;
}

.nav-bar a.active {
  background-color: rgb(24, 27, 216);
}

nav {
  overflow: hidden;

  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 0;
  width: 100%;
}

.main {
  padding: 14px;
}

main {
  width: 75%;
  position: fixed;
  margin-left: 25%;
  padding: auto;
  height: 100%;
  background-color: rgb(68, 0, 255);

}

.side-bar li {
  list-style: none;
  margin: px;
}

aside {

  position: fixed;
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 0;
  background-color: aqua;
}


.copy {
  margin: auto;
  position: top;
  padding: 0px;
  overflow: hidden;
  top: 0;

  text-align: center;
}

footer {
  text-align: center;
  background-color: rgb(163, 124, 74);
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}